# Python virtual environment
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
output/*.csv
output/*.png
input/*.log
input/*.LOG
output/npa
output/wiberg

# Keep the folders but ignore contents
!input/.gitkeep
!output/.gitkeep
