# Python virtual environment
venv/
env/
.env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
output/*.csv
output/*.png
input/*.log
input/*.LOG
output/npa/*.png
output/npa/*.log
output/npa/logs/*.csv
output/wiberg/*.png
output/wiberg/*.log
output/wiberg/logs/*.csv

# Keep the folders but ignore contents
!input/.gitkeep
!output/.gitkeep
!output/npa/.gitkeep
!output/wiberg/.gitkeep

